@media only screen and (max-width: 500px) {
    #navRes {
      display: none;
    }
    #itemNav {
      display: none;
    }
  }
 
  #navFix {
    position: sticky;
   top: 0;
   z-index: 20;
   width: 100%;
  
  }
  @media(min-width:801px){
    #hamburger{
      display: none;
    }
  }
  @media (max-width:800px) {
    #resumeBtn{
      display: none;
    }
  }
  .navWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navRight {
    display: flex;
    align-items: center;
  }
  
  .navMenu {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navItem {
    margin: 0 10px;
  }
  